{% extends layout %}

{% block panel_nav %}Themes{% endblock %}

{% block panel_content %}
    {% block body %}
        {% if standalone %}
            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('error') %}
                <div class="alert alert-error">
                    {{ flashMessage }}
                </div>
            {% endfor %}

            {% for flashMessage in app.session.flashbag.get('success') %}
                <div class="alert alert-success">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endif %}

        {% if standalone %}
            {{ render(path('theme_switcher', {'referer': app.request.pathInfo|url_encode})) }}
            <h1>Themes</h1>
        {% endif %}
        
        {% for theme in themes %}
            <div class="row np_theme_info">
                <div class="col-md-5">
                    <h2>{{ theme.name }}{% if loop.first %} <small>(active)</small>{% endif %}</h2>
                    <p>{{ theme.description }}</p>
                    <h3>Templates:</h3>
                    <ul>
                    {% for layout in templates[theme.namespace] %}
                        <li><a href="{{ path('theme_preview_layout', {'theme': theme.namespace, 'layout': layout}) }}">{{ layout }}</a></li>
                    {% else %}
                        <li>No templates found for this theme.</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-md-5">
                    <img src="http://placehold.it/300x200" class="img-responsive np_theme_preview_thumb">
                    <a href="{{ path('theme_preview', {'theme': theme.namespace}) }}" class="btn btn-default" target="_blank">Preview</a>
                    <a href="{{ path('theme_settings', {'theme': theme.namespace}) }}" class="btn btn-default">Customize</a>
                    <a href="{{ path('post_theme_activate', {'theme': theme.namespace}) }}" class="btn btn-primary{% if loop.first %} disabled{% endif %}" data-action="ajax_post">Activate</a>
                </div>
            </div>
        {% endfor %}
    {% endblock %}
{% endblock %}