{% set page_title = artwork.title %}
{% extends '@metropolis/layout.twig' %}

{% block artwork_details %}
    <div class="artwork_details">
        
        {% if artwork.store is defined %}
            {% if artwork.store.original is defined %}
                <a href="{{ artwork.store.original }}">Buy the original!</a>
            {% endif %}
            {% if artwork.store.print is defined %}
                <a href="{{ artwork.store.print }}">Buy a print!</a>
            {% endif %}
        {% endif %}
        
        <dl>
            <dt>Title</dt>
            <dd class="artwork_title">{{ artwork.title }}</dd>
            <dt>Size</dt>
            <dd class="artwork_size">{{ artwork.size }}</dd>
            <dt>Medium</dt>
            <dd class="artwork_medium">{{ artwork.medium }}</dd>
            <dt>Date</dt>
            <dd class="artwork_date">{{ artwork.date|date('F Y') }}</dd>
        </dl>
        <a href="/"><span class="arrow">&larr;</span>Back to Portfolio</a>
        {% if artwork.blog is defined %}
            | <a href="/blog/{{ artwork.blog }}">More Details<span class="arrow">&rarr;</span></a>
        {% endif %}
    </div>
{% endblock %}


{% block main %}
    <div class="grid_12">
        <div class="artwork_mask">
            <img src="/assets/images/{{ slug }}.jpg">
        </div>
        {{ block('artwork_details') }}
    </div>
{% endblock %}