{% extends '@metropolis/layout.twig' %}

{% block body_class %}portfolio{% endblock %}

{% block nav_disabled %}
<nav id="gallery_menu">
    <ul>
        <li><a href="#" data-filter="*" class="active">show all</a></li>
        {% for name, slug in tags %}
            <li><a href="/tags/{{ slug }}" data-filter="{{ slug }}">{{ name }}</a></li>
        {% endfor %}
    </ul>
</nav>
{% endblock %}

{% block main %}
{% for slug, artwork in portfolio %}
    <div class="grid_3 view hover_effect {{ artwork.tags|slugify|join(' ') }}">
        <img src="/assets/images/{{ slug }}_thumb.jpg" width="240" height="180">
        <div class="mask">
            <h2>{{ artwork.title }}</h2>
            <dl>
                <dt>Size</dt>
                <dd>{{ artwork.size }}</dd>
                <dt>Medium</dt>
                <dd>{{ artwork.medium }}</dd>
            </dl>
            <a href="/{{ slug }}" class="info" data-artworkLink="{{ slug }}">More ▸</a>
        </div>
    </div>
{% endfor %}

<div class="clear"></div>

<script>
    EG_PORTFOLIO = {{ portfolio|json_encode() }};
</script>

<script type="text/html" id="artwork_template">
    <div class="artwork_mask">
        <img src="/assets/images/<%= slug %>.jpg" width="<%= image_width %>" height="<%= image_height %>">
    </div>
    <div class="artwork_details">
        <dl>
            <dt>Title</dt>
            <dd class="artwork_title"><%= title %></dd>
            <% if (size) { %>
                <dt>Size</dt>
                <dd class="artwork_size"><%= size %></dd>
            <% } %>
            <% if (medium) { %>
                <dt>Medium</dt>
                <dd class="artwork_medium"><%= medium %></dd>
            <% } %>
            <% if (formatted_date) { %>
                <dt>Date</dt>
                <dd class="artwork_date"><%= formatted_date %></dd>
            <% } %>
        </dl>
        <a href="/" data-navLink="portfolio"><span class="arrow">&larr;</span>Back to Portfolio</a>
        <% if (typeof(blog) != "undefined" ) { %>
            | <a href="/blog/<%= blog %>">More Details<span class="arrow">&rarr;</span></a>
        <% } %>
    </div>
</script>

{% endblock %}
