{% extends '@default/layout.twig' %}

{% block meta %}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}{{ path('rss') }}" />
{% endblock %}

{% block footer %}
    <div class="seven columns alpha">
        <p>Copyright &copy; {{ "now"|date("Y") }} <a href="http://andrewgruner.com">Andrew Gruner</a>. All rights reserved. Do not taunt Happy Fun Ball.</p>
    </div>
    <div class="five columns offset-by-four omega">
        <ul id="social_media">
            <li class="twitter"><a href="http://twitter.com/gruner" class="replace">twitter</a></li>
            <li class="rss"><a href="{{ site.url }}{{ path('rss') }}"  class="replace">rss</a></li>
            <li class="contact"><a href="mailto:andrew.gruner@gmail.com?subject=Dude!" class="replace">contact</a></li>
            <li class="secret"><a href="http://bit.ly/net95" class="replace">secret</a></li>
        </ul>
    </div>
{% endblock %}